.navbar {
    background: rgba(255,0,0,0.6);
    padding: 10px;
    
}

div a {
    color: green;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div a:hover {
    text-decoration-line: underline;
}

.nav:nth-child(2n) {
    padding-left: 20px;
    padding-right: 20px;
}