div div span {
    font-size: 50px;
    background: rgba(0,0,0,0.5);
    color: white;
    margin-left: 20px;
    user-select: none;
    display: inline-block;
    width: 50px;    
}

.div-formal {
    display: inline;
    padding: 5px;
}